@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-roboto: 'Roboto', sans-serif;

        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 216 63% 55%;
        --primary-foreground: 218 80% 96%;

        --secondary: 38 100% 55%;
        --secondary-foreground: 38 80% 42%;

        --muted: 0 1% 27%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 148 94% 45%;
        --accent-foreground: 148 88% 93%;

        --foundation: 0 0% 45%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }

    .img-bg {
        background-image: url('../../public/assets/authentication-bg.png');
        background-position: top;
        background-repeat: no-repeat;
        height: 100vh;
        background-size: contain;
    }
    .img-bg-2 {
        background-image: url('../../public/assets/authentication-bg.png');
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        margin-top: -16rem;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .dashboard-summary-text {
        color: hsla(0, 0%, 11%, 1);
    }
    .contact-us {
        background: hsla(240, 10%, 72%, 1);
    }
    .contact-us-header {
        background: hsla(216, 53%, 36%, 1);
    }
    .img-bg-why-us {
        background-image: url('../../public/assets/Why choose us-bg@2x.png'),
            url('../../public/assets/Why choose us-bg@2x.png');
        background-position: top, 0;
        background-repeat: no-repeat, no-repeat;
        min-height: 90vh;
        background-size: contain;
    }
    .dashboard-summary {
        background: linear-gradient(
            180deg,
            rgba(255, 172, 28, 0.15) -3.81%,
            rgba(255, 172, 28, 0.3) 18.19%,
            rgba(255, 172, 28, 0.4) 28.45%,
            rgba(255, 172, 28, 0.55) 40.75%,
            rgba(255, 172, 28, 0.661156) 59.21%,
            rgba(255, 172, 28, 0.76) 72.2%
        );
    }
    .dashboard-bg {
        background-image: url('/assets/dashboard-summary.svg');
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .request-bg {
        background-image: url('/assets/rafiki.png');
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        height: 200px;
    }
    .request-bg-now {
        background-image: url('/assets/onboarding-CTA-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        height: 200px;
    }
    .box-shadow-2 {
        box-shadow: 0px 4px 8px -2px hsla(220, 43%, 11%, 0.25);
    }
    .box-shadow {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .x-y-flex {
        @apply flex justify-center items-center;
    }
}

@layer components {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    button,
    a,
    span,
    div,
    small {
        font-family: var(--font-poppins);
    }
}
